#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.InfoRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  margin-bottom: 0;
}

.Category {
  font-size: 15px;
  font-weight: bold;
  color: #ffe180;
}

.Rating {
  font-size: small;
  color: #ffe180;
}

h2.BusinessName {
  text-align: left;
  font-size: large;
  margin: 0;
  padding-top: 10px;
}

.BusinessImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.BusinessContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1em;
  border-radius: 15px;
  background-color: #333333;
  color: #ffffff;
  width: 250px;
  height: auto;
  margin: 10 px;
}

.BusinessListContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.BusinessListContainer > * {
  flex: 0 0 auto; /* don’t grow or shrink, keep natural size */
  margin-bottom: 16px;
}

